#processadores {
  width: 100%;
  margin: auto 0;
  padding-top: 70px;
  text-align: center;
  background-color: #ccc;
}

#processadores a {
  margin: 0;
  padding: 0;
  color: black;
}

.processadores-cards {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}

.cards2 {
  width: 350px;
  height: 350px;
  border-radius: 50px;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cards2 img {
  width: 300px;
  height: 180px;
}

.cards2:nth-child(1) .background-card2 {
  padding: 30px 125px;
  background-color: aliceblue;
}

.background-card2 {
  padding: 30px 129px;
  background-color: aliceblue;
}
